<h1>Team Details</h1>

<p id="notice"><%= notice %></p>

<p>
  <b>Team Name:</b>
  <%= @team.team_name %>
</p>

<p>
  <b>Team Details:</b>
  <%= @team.team_details %>
</p>

<p>
  <b>Team Goal:</b>
  <%= @team.team_goal %>
</p>

<p>
  <b>Event:</b>
  <%= @team.event.event_name %>
</p>


<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
