<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </div>
  <% if current_user && current_user.has_role?(:admin) %>
  <div class="field">
    <%= f.label :roles %><br />
    <% Role.find(:all).each do |r| %>
    <div>
    	<%= check_box_tag "user[role_ids][]", r.id, @user.roles.include?(r) %>
    	<%= r.name %>
    </div>
    <% end %>
  </div>
  <% end %><br />
  <div class="actions">
    <%= f.submit %>
  </div><br />
<% end %>
