<h1>Events</h1>

<table>
  <tr>
    <th>Event Name</th>
    <th>Goal</th>
    <th>Start Date</th>
    <th>End Date</th>
    <th>Sponsor</th>
    <th>Registered</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%= event.event_name %></td>
   	<td><%= event.goal %></td>
    <td><%= event.start_date.strftime("%m/%d/%y") %></td>
    <td><%= event.end_date.strftime("%m/%d/%y") %></td>
    <td><%= event.sponsor.name %></td>
    <td>
    	<% if @registrations.include?(event) %>
    		Registered
    	<% else%>
  			<%= link_to "Register!", new_registration_path %>  	
    	<% end %>
    </td>
    <td><%= link_to 'Show', event %></td>
    <td><%= link_to 'Edit', edit_event_path(event) %></td>
    <td><%= link_to 'Destroy', event, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Event', new_event_path %>
