<h1>Activities</h1>

<table>
  <tr>
    <th>Event</th>
    <th>Distance</th>
    <th>Activity Date</th>
    <th>Manual</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @activities.each do |activity| %>
  <tr>
  	<td><%= activity.event.event_name %></td>
    <td><%= activity.distance %></td>
    <td><%= activity.activity_date.strftime("%m/%d/%y") %></td>
    <td><%= activity.manual %></td>
    <td><%= link_to 'Show', activity %></td>
    <td><%= link_to 'Edit', edit_activity_path(activity) %></td>
    <td><%= link_to 'Destroy', activity, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Activity', new_activity_path %>
