<h1>Activity Detail</h1>

<p id="notice"><%= notice %></p>

<p>
  <b>Event:</b>
  <%= @activity.event.event_name %>
</p>

<p>
  <b>Distance:</b>
  <%= @activity.distance %>
</p>

<p>
  <b>Activity Date:</b>
  <%= @activity.activity_date.strftime("%m/%d/%y") %>
</p>

<p>
  <b>Manual:</b>
  <%= @activity.manual %>
</p>

<%= link_to 'Edit', edit_activity_path(@activity) %> |
<%= link_to 'Back', activities_path %>
